body{
    font-family:  Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: rgb(214, 214, 214);
    color:rgb(8, 10, 81)
}

h1 {
    padding-top: 30px;
    text-align: center;
    color: rgb(8, 8, 12);
}

h2 {
    color: rgb(6, 6, 62);
}

img {
    width: 400px;
    height: 300px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    border: 1px solid rgb(32, 32, 160);
    margin: 40px 0;
}

p {
    margin: 10px 0;
}

nav {
    background-color: rgb(103, 154, 129);
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a { 
    color: rgb(209, 221, 226);
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.5rem;

}

nav a:hover{
    color: rgb(23, 34, 42);
}

.card a{
    color: rgb(13, 17, 49);
    background-color: rgb(130, 182, 99);
    padding: 8px 12px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.card a:hover {
    background-color: rgb(172, 224, 154);
} 

.intro {
    text-align: center;
    margin-top: 50px;
    color: rgb(8, 10, 81);
}
.imgintro {
    width: 600px;
    height: 400px;
    align-items: center;
    margin: 30px auto;
}
.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: rgb(205, 199, 199);
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}
footer{
    background-color: rgb(125, 166, 203);
    color: white;
    text-align: center;
    padding: 8px;
    margin-top: 150px;
    
}
blockquote {
    background-color:rgb(37, 87, 68);
    font-style: italic;
    color: rgb(245, 238, 245);
    margin-left: 40px;
    padding: 15px;
    border-left: 4px solid #3e9628;
}
aside{
    background-color: rgb(187, 180, 165);
    padding: 15px;
    border-radius: 20px;
    border-left: 6px solid rgb(151, 141, 109);
}